# Default owners for everything in the repo
* @{{maintainer-github}}

# Client and tools packages
/pkg/ @{{maintainer-github}}

# Documentation
/docs/ @{{maintainer-github}}
*.md @{{maintainer-github}}

# CI/CD and release configuration
/.github/ @{{maintainer-github}}
.goreleaser.yml @{{maintainer-github}}
